## Control Flow

Q1) 
Write a function that returns the number of users in a chatroom based on the following rules:

If there is no one, return "no one online".
If there is 1 person, return "user1 online".
If there are 2 people, return "user1 and user2 online".
If there are n>2 people, return the first two names and add "and n-2 more online".
For example, if there are 5 users, return:

"user1, user2 and 3 more online"
Examples
chatroom_status([]) ➞ "no one online"

chatroom_status(["paRIE_to"]) ➞ "paRIE_to online"

chatroom_status(["s234f", "mailbox2"]) ➞ "s234f and mailbox2 online"

chatroom_status(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"])
➞ "pap_ier44, townieBOY and 4 more online"

In [3]:
def chatroom(l):
    if len(l)==0:
        return "no one online"
    elif len(l)>2:
        return ("{} , {} and {} more online".format(l[0],l[1],(len(l)-2)))
    elif len(l)==2:
        return ("{} and {} online".format(l[0],l[1]))
    else:
        return l[0]

In [4]:
chatroom([])

'no one online'

In [5]:
chatroom(["s234f", "mailbox2"])

's234f and mailbox2 online'

In [6]:
chatroom(["pap_ier44", "townieBOY", "panda321", "motor_bike5", "sandwichmaker833", "violinist91"])

'pap_ier44 , townieBOY and 4 more online'

Q2) Create a function that returns the number of palindrome numbers in a specified range (inclusive).

For example, between 8 and 34, there are 5 palindromes: 8, 9, 11, 22 and 33. Between 1550 and 1552 there is exactly one palindrome: 1551.

Examples
count_palindromes(1, 10) ➞ 9

count_palindromes(555, 556) ➞ 1

count_palindromes(878, 898) ➞ 3
Notes
A palindrome number is a number which remains the same when its digits are reversed. For example, 2552 reversed is still 2552. The reflectional symmetry of this number makes it a palindromic number.
Single-digit numbers are trivially palindrome numbers.

In [14]:
def count_palindromes(i,e):
    count=0
    for x in range(i,e+1):
        a=str(x)
        if a==a[::-1]:
            count+=1
        else:
            continue
    return count

In [15]:
count_palindromes(1, 10)

9

In [16]:
count_palindromes(555, 556)

1

In [17]:
count_palindromes(878, 898)

3

In [18]:
count_palindromes(8, 34)

5

In [19]:
count_palindromes(1550, 1556)

1

    
Q3)Create a function that returns the sum of all even elements in a 2D matrix.
    
    Examples

    sum_of_evens([
      [1, 0, 2],
      [5, 5, 7],
      [9, 4, 3]
    ]) ➞ 6

    // 2 + 4 = 6

    sum_of_evens([
      [1, 1],
      [1, 1]
    ]) ➞ 0

    sum_of_evens([
      [42, 9],
      [16, 8]
    ]) ➞ 66

    sum_of_evens([
      [],
      [],
      []
    ]) ➞ 0
    Notes
    Submatrices will be of equal length.
    Return 0 if the 2D matrix only consists of empty submatrices.

In [20]:
def sum_of_evens(l):
    a=0
    for x in l:
        for y in range(len(x)):
            if x[y]%2==0:
                a+=x[y]
            else:
                continue
    return a

In [21]:
sum_of_evens([
  [1, 0, 2],
  [5, 5, 7],
  [9, 4, 3]
])

6

In [22]:
sum_of_evens([
  [1, 1],
  [1, 1]
])

0

In [23]:
sum_of_evens([
  [42, 9],
  [16, 8]
])

66

In [24]:
sum_of_evens([
  [],
  [],
  []
])

0

In [25]:
sum_of_evens([[1, 5, 1, 3],[4, 1, 2, 0],[6, 9, 7, 4],[5, 1, 2, 6]])

24

In [26]:
sum_of_evens([[2, 19, 5, 43],[67, 2, 0, 12]])

16

Q4) Write a function that takes a string, breaks it up and returns it with vowels first, consonants second. For any character    that's not a vowel (like special characters or spaces), treat them like consonants.

    Examples
    split("abcde") ➞ "aebcd"

    split("Hello!") ➞ "eoHll!"

    split("What's the time?") ➞ "aeieWht's th tm?"
    Notes
    Vowels are a, e, i, o, u.
    Define a separate is_vowel() function for easier to read code (recommendation).

In [27]:
def split(s):
    a="";b=""
    for x in s:
        if x=="a" or x=="e" or x=="i" or x=="o" or x=="u" or x=="A" or x=="E" or x=="I" or x=="O" or x=="U":
            a+=x
        else:
            b+=x
    return a+b

In [28]:
split("abcde")

'aebcd'

In [29]:
split("Hello!")

'eoHll!'

In [30]:
split("What's the time?")

"aeieWht's th tm?"

Q5)
    Create a function that takes a string as an argument and returns a coded (h4ck3r 5p34k) version of the string.

    Examples
    hacker_speak("javascript is cool") ➞ "j4v45cr1pt 15 c00l"

    hacker_speak("programming is fun") ➞ "pr0gr4mm1ng 15 fun"
    hacker_speak("become a coder") ➞ "b3c0m3 4 c0d3r"
    
    Notes:
    In order to work properly,the function should replace all "a"s with 4,"e"s with 3,"i"s with 1,"o"s with 0,and "s"s with 5.

In [34]:
def hacker_speak(s):
    table=s.maketrans("aeios","43105")
    return s.translate(table)

In [35]:
hacker_speak("javascript is cool")

'j4v45cr1pt 15 c00l'

In [36]:
hacker_speak("programming is fun")

'pr0gr4mm1ng 15 fun'

In [37]:
hacker_speak("become a coder")

'b3c0m3 4 c0d3r'

Q6) 
Create a function that takes in a year and returns the correct century.

    Examples
    century(1756) ➞ "18th century"

    century(1555) ➞ "16th century"

    century(1000) ➞ "10th century"

    century(1001) ➞ "11th century"

    century(2005) ➞ "21st century"
    Notes
    All years will be between 1000 and 2010.
    The 11th century is between 1001 and 1100.
    The 18th century is between 1701-1800.

In [42]:
def century(x):
    return "{}th century".format((x//100)+1)

In [43]:
century(1756)

'18th century'

In [44]:
century(1555)

'16th century'

In [45]:
century(1000)

'11th century'

In [46]:
century(2005)

'21th century'

## Condition

Q1) Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

    Person	     Relation
    Darth Vader  father
    Leia	     sister
    Han	     brother in law
    R2D2	     droid
    Examples
    relation_to_luke("Darth Vader") ➞ "Luke, I am your father."

    relation_to_luke("Leia") ➞ "Luke, I am your sister."

    relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [72]:
def relation_to_luke(s):
    x={"Darth Vader":"father","Leia":"sister","Han":"brother-in-law","R2D2":"droid"}
    return "Luke, I am your {}.".format(x[s])

In [73]:
relation_to_luke("Darth Vader")

'Luke, I am your father.'

In [74]:
relation_to_luke("Leia")

'Luke, I am your sister.'

In [75]:
relation_to_luke("Han")

'Luke, I am your brother-in-law.'

In [76]:
relation_to_luke("R2D2")

'Luke, I am your droid.'

Q2) Create a function that takes damage and speed (attacks per second) and returns the amount of damage after a given time.

    Examples
    damage(40, 5, "second") ➞ 200

    damage(100, 1, "minute") ➞ 6000

    damage(2, 100, "hour") ➞ 720000
    Notes
    Return "invalid" if damage or speed is negative.

In [84]:
def damage(d,s,t):
    if t=="second" and d>0 and s>0:
        return d*s
    elif t=="minute" and d>0 and s>0:
        return d*s*60
    elif t=="hour" and d>0 and s>0:
        return d*s*3600
    else:
        return "Invalid"

In [85]:
damage(40, 5, "second")

200

In [86]:
damage(100, 1, "minute")

6000

In [87]:
damage(2, 100, "hour")

720000

In [88]:
damage(20, 0.5, "minute")

600.0

In [89]:
damage(2, 400, "hour")

2880000

In [90]:
damage(-23, 20, "second")

'Invalid'

In [91]:
damage(-23, -5, "second")

'Invalid'

Q3)Create a function that takes a number as input and returns True if the sum of its digits has the same parity as the entire number. Otherwise, return False.

    Examples
    parity_analysis(243) ➞ True
    243 is odd and so is 9 (2 + 4 + 3)

    parity_analysis(12) ➞ False
    12 is even but 3 is odd (1 + 2)

    parity_analysis(3) ➞ True
    3 is odd and 3 is odd and 3 is odd (3)
    Notes: Parity is whether a number is even or odd. If the sum of the digits is even and the number itself is even, return True.The same goes if the number is odd and so is the sum of its digits.Single digits will obviously have the same parities (see example #3).

In [129]:
def parity_analysis(x):
    a=0;y=str(x)
    for z in y:
        b=int(z)
        n=b%10
        a+=n
    return (a%2!=0 and x%2!=0 or a%2==0 and x%2==0)

In [130]:
parity_analysis(243)

True

In [131]:
parity_analysis(12)

False

In [132]:
parity_analysis(3)

True

In [133]:
parity_analysis(4)

True

In [134]:
parity_analysis(0)

True

Q4) Create a function that takes a string, checks if it has the same number of "x"s and "o"s and returns either True or False.

    Return a boolean value (True or False).
    Return True if the amount of x's and o's are the same.
    Return False if they aren't the same amount.
    The string can contain any character.
    When "x" and "o" are not in the string, return True.
    Examples
    XO("ooxx") ➞ True

    XO("xooxx") ➞ False

    XO("ooxXm") ➞ True
    # Case insensitive.

    XO("zpzpzpp") ➞ True
    # Returns True if no x and o.

    XO("zzoo") ➞ False
    Notes
    Remember to return True if there aren't any x's or o's.
    Must be case insensitive.

In [119]:
def XO(s):
    s.lower()
    if s.count("x")==s.count("o") or s.find("x")<0 and s.find("o")<0:
        return True
    else:
        return False

In [120]:
XO("ooxx")

True

In [121]:
XO("xooxx")

False

In [123]:
XO("ooxXm")

False

In [124]:
XO("zpzpzpp")

True

In [125]:
XO("zzoo")

False

Q5) Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

    Examples
    reverse(True) ➞ False

    reverse(False) ➞ True

    reverse(0) ➞ "boolean expected"

    reverse(None) ➞ "boolean expected"
    Notes
    Don't forget to return the result.
    If you get stuck on a challenge, find help in the Resources tab.
    If you're really stuck, unlock solutions in the Solutions tab.

In [136]:
def reverse(x):
    if type(x)==bool:
        if x==True:
            return False
        else:
            return True
    else:
        return "boolean expected"

In [137]:
reverse(True)

False

In [138]:
reverse(False)

True

In [139]:
reverse(0)

'boolean expected'

In [140]:
reverse(None)

'boolean expected'

Q6) Using list comprehensions, create a function that finds all even numbers from 1 to the given number.

    Examples
    find_even_nums(8) ➞ [2, 4, 6, 8]

    find_even_nums(4) ➞ [2, 4]

    find_even_nums(2) ➞ [2]
    Try to use list comprehensions in your solution. Here's an example:

    vals = [expression 
      for value in collection 
        if condition]
    This is equivalent to:

    vals = []
    for value in collection:
      if condition:
        vals.append(expression)
    Notes
    Try to use list comprehensions instead of logic.
    If there are no even numbers, return an empty list

In [151]:
def find_even_nums(x):
    l=[]
    for y in range(1,x+1):
        if y%2==0:
            l.append(y)
        else:
            continue
    return l

In [152]:
find_even_nums(8)

[2, 4, 6, 8]

In [153]:
find_even_nums(4)

[2, 4]

In [154]:
find_even_nums(2)

[2]

Q7) Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

    Examples
    filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

    filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

    filter_list(["Nothing", "here"]) ➞ []
    Notes
    Don't overthink this one.

In [145]:
def filter_list(l):
    l1=[]
    for x in l:
        if type(x)==int:
            l1.append(x)
        else:
            continue
    return l1

In [146]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [147]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [148]:
filter_list(["Nothing", "here"])

[]

Q8) Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

    Examples
    next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

    next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

    next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

    next_in_line([], 6) ➞ "No list has been selected"
    Notes
    For an empty list input, return: "No list has been selected"

In [163]:
def next_in_line(l,x):
    if len(l)>0:
        l.pop(0)
        l.append(x)
        return l
    else:
        return "No list has been selected"

In [164]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [165]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [166]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [167]:
next_in_line([], 6)

'No list has been selected'

Q9) In BlackJack, cards are counted with -1, 0, 1 values:

    2, 3, 4, 5, 6 are counted as +1
    7, 8, 9 are counted as 0
    10, J, Q, K, A are counted as -1
    Create a function that counts the number and returns it from the list of cards provided.

    Examples
    count([5, 9, 10, 3, "J", "A", 4, 8, 5]) ➞ 1

    count(["A", "A", "K", "Q", "Q", "J"]) ➞ -6

    count(["A", 5, 5, 2, 6, 2, 3, 8, 9, 7]) ➞ 5
    Notes
    String inputs will always be upper case.
    You do not need to consider case sensitivity.
    If the argument is empty, return 0.
    No input other than: 2, 3, 4, 5, 6, 7, 8, 9, 10, "J", "Q", "K", "A".

In [190]:
def count_cards(l):
    count=0
    if len(l)==0:
        return 0
    else:
        for x in l:
            if type(x)==int:
                if x>1 and x<7:
                    count+=1
                if x>7 and x<10:
                    count+=0
                if x==10:
                    count+=-1
            else:
                if x=="J" or x=="Q" or x=="K" or x=="A":
                    count+=-1
                #else:
                 #  return "Wrong Input"
    return count

In [191]:
count_cards([5, 9, 10, 3, "J", "A", 4, 8, 5])

1

Q10)Wild Roger is participating in a Western Showdown, meaning he has to draw (pull out and shoot) his gun faster than his opponent in a gun standoff.

Given two strings,p1 and p2, return which person drew their gun the fastest. If both are drawn at the same time, return "tie".

    Examples
    showdown(
      "   Bang!        ",
      "        Bang!   "
    ) ➞ "p1"

    # p1 draws his gun sooner than p2

    showdown(
      "               Bang! ",
      "             Bang!   "
    ) ➞ "p2"

    showdown(
      "     Bang!   ",
      "     Bang!   "
    ) ➞ "tie"
    Notes
    Both strings are the same length.

In [4]:
def showdown(p1,p2):
    a=0;b=0
    for x in p1:
        if x==" ":
            a+=1
        else:
            break
    for y in p2:
        if y==" ":
            b+=1
        else:
            break
    if a>b:
        return "p2"
    elif b>a:
        return "p1"
    else:
        return "Tie"

In [5]:
showdown("   Bang!        ","        Bang!   ")

'p1'

In [6]:
showdown("               Bang! ","             Bang!   ")

'p2'

In [7]:
showdown("     Bang!   ","     Bang!   ")

'Tie'

Q11)Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

    Examples
    is_symmetrical(7227) ➞ True

    is_symmetrical(12567) ➞ False

    is_symmetrical(44444444) ➞ True

    is_symmetrical(9939) ➞ False

    is_symmetrical(1112111) ➞ True

In [13]:
def is_symmetrical(x):
    return (str(x)==str(x)[::-1])

In [14]:
is_symmetrical(7227)

True

In [15]:
is_symmetrical(12567)

False

In [16]:
is_symmetrical(44444444)

True

In [17]:
is_symmetrical(9939)

False

In [18]:
is_symmetrical(1112111)

True

Q12)Check the principles of minimalist code in the intro to the first challenge.

    In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

    Write a function that returns the strings:

    "both" if both given booleans a and b are True.
    "first" if only a is True.
    "second" if only b is True .
    "neither" if both a and b are False.
    Tips
    If-else statements can be written as a oneliner using Python's ternary operator.

    For example, the code:

    def startswith(name):
      if name[0] in "AEIOU":
        return "vowel"
      else:
        return "consonant"
    Can be simplified to:

    def startswith(name):
      return "vowel" if name[0] in "AEIOU" else "consonant"
    Bonus
    You can concatenate as many ternary operators as you want. However, concatenating too many will definitely diminish the readability of your code.

    "majority" if  x > 50 else "minority" if x < 50 else "draw"
    Notes
    This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comments.
    Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments.
    You can find all the exercises in this series over here.

In [20]:
def are_true(a, b):
    if a == True and b == True:
        return "both"
    elif a == True:
        return "first"
    elif b == True:
        return "second"
    else:
        return "neither"

In [21]:
are_true(True, True)

'both'

In [22]:
are_true(True, False)

'first'

In [23]:
are_true(False, True)

'second'

In [24]:
are_true(False, False)

'neither'

Q13) I'm trying to watch some lectures to study for my next exam but I keep getting distracted by meme compilations, vine compilations, anime, and more on my favorite video platform.

    Your job is to help me create a function that takes a string and checks to see if it contains the following words or phrases:

    "anime"
    "meme"
    "vines"
    "roasts"
    "Danny DeVito"
    If it does, return "NO!". Otherwise, return "Safe watching!".

    Examples
    prevent_distractions("vines that butter my eggroll") ➞ "NO!"

    prevent_distractions("Hot pictures of Danny DeVito") ➞ "NO!"

    prevent_distractions("How to ace BC Calculus in 5 Easy Steps") ➞ "Safe watching

In [30]:
def prevent_distractions(s):
    y=s.split()
    count=0
    for x in y:
        if x=="anime" or x=="meme" or x=="vines" or x=="roasts" or x=="Danny" or x=="DeVito":
            count+=1
        else:
            continue
    if count>0:
        return "NO!"
    else:
        return "Safe watching!"

In [29]:
prevent_distractions("vines that butter my eggroll")

'NO!'

In [31]:
prevent_distractions("Hot pictures of Danny DeVito")

'NO!'

In [32]:
prevent_distractions("How to ace BC Calculus in 5 Easy Steps")

'Safe watching!'

Q14)Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

    Examples
    equal(3, 4, 3) ➞ 2

    equal(1, 1, 1) ➞ 3

    equal(3, 4, 1) ➞ 0 
    Notes
    Your function must return 0, 2 or 3.

In [50]:
def equal(a,b,c):
    count=0
    if a==b==c:
        count+=3
    elif a==b or b==c or c==a:
        count+=2
    else:
        count+=0
    return count

In [51]:
equal(3, 4, 3)

2

In [52]:
equal(1, 1, 1)

3

In [53]:
equal(3, 4, 1)

0

Q15)Create a function which validates whether a 3 character string is a vowel sandwich. In order to have a valid sandwich, the string must satisfy the following rules:

    The first and last characters must be a consonant.
    The character in the middle must be a vowel.
    Examples
    is_vowel_sandwich("cat") ➞ True

    is_vowel_sandwich("ear") ➞ False

    is_vowel_sandwich("bake") ➞ False

    is_vowel_sandwich("try") ➞ False
    Notes
    Return False if the word is not 3 characters in length.
    All words will be given in lowercase.
    y is not considered a vowel.

In [66]:
def is_vowel_sandwich(str1):
    s=str1.lower()
    y=len(s)//2
    if not (s[0]=="a" or s[0]=="e" or s[0]=="i" or s[0]=="o" or s[0]=="u")\
    and not (s[-1]=="a" or s[-1]=="e" or s[-1]=="i" or s[-1]=="o" or s[-1]=="u") and \
    s[y]=="a" or s[y]=="e" or s[y]=="i" or s[y]=="o" or s[y]=="u":
        return True
    else:
        return False

In [67]:
is_vowel_sandwich("cat")

True

In [68]:
is_vowel_sandwich("Ear")

False

In [69]:
is_vowel_sandwich("try")

False

Q16) Write a function that takes a string and calculates the number of letters and digits within it. Return the result in a dictionary.

    Examples
    count_all("Hello World") ➞ { "LETTERS":  10, "DIGITS": 0 }

    count_all("H3ll0 Wor1d") ➞ { "LETTERS":  7, "DIGITS": 3 }

    count_all("149990") ➞ { "LETTERS": 0, "DIGITS": 6 }
    Notes
    Tests contain only alphanumeric characters.
    Spaces are not letters.
    All tests contain valid strings.

In [70]:
def count_all(s):
    a=0;b=0
    for x in s:
        if x.isalpha():
            a+=1
        elif x.isdigit():
            b+=1
        else:
            continue
    return dict({"LETTERS":a,"DIGITS":b})

In [71]:
count_all("Hello World")

{'LETTERS': 10, 'DIGITS': 0}

In [72]:
count_all("H3ll0 Wor1d")

{'LETTERS': 7, 'DIGITS': 3}

In [74]:
count_all("149990")

{'LETTERS': 0, 'DIGITS': 6}

Q17) Create a method in the Person class which returns how another person's age compares. Given the objects p1, p2 and p3, which will be initialised with the attributes name and age, return a sentence in the following format:

{other_person} is {older than / younger than / the same age as} me.

    Examples
    p1 = Person("Samuel", 24)
    p2 = Person("Joel", 36)
    p3 = Person("Lily", 24)
    p1.compare_age(p2) ➞ "Joel is older than me."

    p2.compare_age(p1) ➞ "Samuel is younger than me."

    p1.compare_age(p3) ➞ "Lily is the same age as me."
    Notes
    Check out the Resources tab for some helpful tutorials on Python classes!
    If you're really stuck, check out the Solutions tab for answers.

In [87]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def compare_age(a,b):
        if b.age>a.age:
            return "{} is older than me".format(b.name)
        elif a.age>b.age:
            return "{} is younger than me".format(b.name)
        else:
            return "{} is same age as me".format(b.name)

In [88]:
p1 = Person("Samuel", 24)
p2 = Person("Joel", 36)
p3 = Person("Lily", 24)
p1.compare_age(p2)

'Joel is older than me'

In [89]:
p2.compare_age(p1)

'Samuel is younger than me'

In [90]:
p1.compare_age(p3)

'Lily is same age as me'

Q18) Check the principles of minimalist code in the intro to the first challenge.

    In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section below.

    Write a function that returns the boolean True if the given two lists do not share any numbers, and False otherwise.

    Tips
    The operators in and not in test for membership. x in s evaluates to True if x is a member of s, and False otherwise.

    For example, the code:

    def startswithvowel(word):
        for vowel in "aeiou":
            if word[0] == vowel:
                return True
        return False
    Can be simplified to:

    def startswithvowel(word):
        return word[0] in "aeiou"
    Bonus
    Here are more examples:

    12 in [1, 50, 12, 43, 7] ➞ True
    1 in [12, 111111, "x"] ➞ False
    [3, 4] in [1, 2, 3, 4, 5] ➞ False
    3 in (True, 3, ["odd", "even"]) ➞ True
    "odd" in (True, 3, ["odd", "even"]) ➞ False
    "hello" in "hellomyfriend" ➞ True

    "myfriend" not in "hello my friend" ➞ True
    "bye" not in "bye my friend" ➞ False
    2 not in {0: "even", 1: "odd"} ➞ True
    1 not in {0: "even", 1: "odd"} ➞ False
    Notes
    This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comments.
    Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments.
    You can find all the exercises in this series over here.

In [91]:
def not_share(lst1, lst2):
    for i in lst1:
        for j in lst2:
            if i == j:
                return False
    return True

In [92]:
not_share([1, 2, 3], [4, 5, 6])

True

In [93]:
not_share([1, 2, 3], [3, 4, 5])

False

Q19)Lists can be mixed with various types. Your task for this challenge is to sum all the number elements in the given list. Create a function that takes a list and returns the sum of all numbers in the list.

    Examples
    numbers_sum([1, 2, "13", "4", "645"]) ➞ 3

    numbers_sum([True, False, "123", "75"]) ➞ 0

    numbers_sum([1, 2, 3, 4, 5, True]) ➞ 15

In [75]:
def numbers_sum(l):
    a=0
    for x in l:
        if type(x)==int:
            a+=x
        else:
            continue
    return a

In [76]:
numbers_sum([1, 2, "13", "4", "645"])

3

In [77]:
numbers_sum([True, False, "123", "75"])

0

In [78]:
numbers_sum([1, 2, 3, 4, 5, True])

15

Q20) Create a function that takes a list of positive and negative numbers. Return a list where the first element is the count of positive numbers and the second element is the sum of negative numbers.

    Examples
    sum_neg([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]) ➞ [10, -65]
    # There are a total of 10 positive numbers.
    # The sum of all negative numbers equals -65.

    sum_neg([92, 6, 73, -77, 81, -90, 99, 8, -85, 34]) ➞ [7, -252]

    sum_neg([91, -4, 80, -73, -28]) ➞ [2, -105]

    sum_neg([]) ➞ []
    Notes
    If given an empty list, return an empty list: []
    0 is not positive.

In [105]:
def sum_neg(l):
    l1=[];count=0;a=0
    for x in l:
        if x>=0:
            count+=1
        else:
            a-=x
    l1.append(count)
    l1.append(-a)
    if len(l)==0:
        return []
    else:
        return l1

In [106]:
sum_neg([1,2,3,4,5,6,7,8,9,10,-11,-12,-13,-14,-15])

[10, -65]

In [107]:
sum_neg([91, -4, 80, -73, -28])

[2, -105]

In [108]:
sum_neg([])

[]

Q21) Create a function that takes a string and returns a new string with its first and last characters swapped, except under three conditions:

    If the length of the string is less than two, return "Incompatible.".
    If the argument is not a string, return "Incompatible.".
    If the first and last characters are the same, return "Two's a pair.".
    Examples
    flip_end_chars("Cat, dog, and mouse.") ➞ ".at, dog, and mouseC"

    flip_end_chars("ada") ➞ "Two's a pair."

    flip_end_chars("Ada") ➞ "adA"

    flip_end_chars("z") ➞ "Incompatible."

    flip_end_chars([1, 2, 3]) ➞ "Incompatible."
    Notes
    Tests are case sensitive (e.g. "A" and "a" are not the same character).

In [114]:
def flip_end_chars(x):
    a=""
    if not (type(x)==str):
        return "Incompatible."
    elif len(x)<2:
        return "Incompatible."
    elif x[0]==x[-1]:
        return "Two's a pair."
    else:
        return a+x[-1]+x[1:-1]+x[0]

In [115]:
flip_end_chars("Cat, dog, and mouse.")

'.at, dog, and mouseC'

In [120]:
flip_end_chars("ada")

"Two's a pair."

In [117]:
flip_end_chars("Ada")

'adA'

In [118]:
flip_end_chars("z")

'Incompatible.'

In [119]:
flip_end_chars([1, 2, 3])

'Incompatible.'

Q22) Create a function that takes a number as an argument and returns the appropriate error message. You should do this without using the switch or if statements.

    The input error will be 1 to 5:

    1 >> "Check the fan: e1"
    2 >> "Emergency stop: e2"
    3 >> "Pump Error: e3"
    4 >> "c: e4"
    5 >> "Temperature Sensor Error: e5"
    For any other value, return 101 (you can use an if statement here).

    Examples
    error(1) ➞ "Check the fan: e1"

    error(2) ➞ "Emergency stop: e2"

    error(3) ➞ "Pump Error: e3"
    Notes
    Do this without using the switch or if statements.

In [3]:
def error(x):
    if x==1:
        return "Check the fan: e1"
    elif x==2:
        return "Emergency stop: e2"
    elif x==3:
        return "Pump Error: e3"
    elif x==4:
        return "c: e4"
    elif x==5:
        return "Temperature Sensor Error: e5"
    else:
        return 101

In [4]:
error(1)

'Check the fan: e1'

In [5]:
error(2)

'Emergency stop: e2'

In [6]:
error(3)

'Pump Error: e3'

Q23) Given a list with an odd number of elements, return whether the scale will tip "left" or "right" based on the sum of the numbers. The scale will tip on the direction of the largest total. If both sides are equal, return "balanced".

    Examples
    scale_tip([0, 0, "I", 1, 1]) ➞ "right"
    # 0 < 2 so it will tip right

    scale_tip([1, 2, 3, "I", 4, 0, 0]) ➞ "left"
    # 6 > 4 so it will tip left

    scale_tip([5, 5, 5, 0, "I", 10, 2, 2, 1]) ➞ "balanced"
    # 15 = 15 so it will stay balanced
    Notes
    The middle element will always be "I" so you can just ignore it.
    Assume the numbers all represent the same unit.
    Both sides will have the same number of elements.
    There are no such things as negative weights in both real life and the tests!

In [27]:
def scale_tip(l):
    n=l.index("I");a=0;b=0
    for x in range(len(l)):
        if x<n:
            a+=l[x]
        elif x>n:
            b+=l[x]
        else:
            continue
    if a<b:
        return "Right"
    elif a>b:
        return "Left"
    else:
        return "Balanced"

In [28]:
scale_tip([0, 0, "I", 1, 1])

'Right'

In [29]:
scale_tip([1, 2, 3, "I", 4, 0, 0])

'Left'

In [30]:
scale_tip([5, 5, 5, 0, "I", 10, 2, 2, 1])

'Balanced'

Q24) Create a function that changes specific words into emoticons. Given a sentence as a string, replace the words smile, grin, sad and mad with their corresponding emoticons.

    word	emoticon
    smile	:D
    grin	:)
    sad	:(
    mad	:P
    Examples
    emotify("Make me smile") ➞ "Make me :D"

    emotify("Make me grin") ➞ "Make me :)"

    emotify("Make me sad") ➞ "Make me :("
    Notes
    The sentence always starts with "Make me".
    Try to solve this without using conditional statements like if/else.

In [32]:
def emotify(s):
    l=s.split()
    if l[2]=="smile":
        return "Make me :D"
    elif l[2]=="grin":
        return "Make me :)"
    elif l[2]=="mad":
        return "Make me :P"
    else:
        return "Make me :("

In [33]:
emotify("Make me smile")

'Make me :D'

In [34]:
emotify("Make me grin")

'Make me :)'

In [35]:
emotify("Make me sad")

'Make me :('

In [36]:
emotify("Make me mad")

'Make me :P'

Q25)Create a function that takes the month and year (as integers) and returns the number of days in that month.

    Examples
    day_amount(2, 2018) ➞ 28

    day_amount(4, 654) ➞ 30

    day_amount(2, 200) ➞ 28

    day_amount(2, 1000) ➞ 28
    Notes
    Don't forget about leap years!

In [46]:
def day_amount(m,y):
    d={1:30,2:28,3:31,4:30,5:30,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
    if y%4==0:
        d.update({2:29})
        return d[m]
    else:
        return d[m]

In [47]:
day_amount(2, 2018)

28

In [48]:
day_amount(2, 2016)

29

In [49]:
day_amount(4, 654)

30

Q26)Create a function that changes all the elements in a list as follows:

    Add 1 to all even integers, nothing to odd integers.
    Concatenates "!" to all strings and make the first letter of the word a capital letter.
    Changes all boolean values to its opposite.
    Examples
    change_types(["a", 12, True]) ➞ ["A!", 13, False]

    change_types([13, "13", "12", "twelve"]) ➞ [13, "13!", "12!", "Twelve!"]

    change_types([False, "False", "true"]) ➞ [True, "False!", "True!"]
    Notes
    There won't be any float values.
    You won't get strings with both numbers and letters in them.
    Although the task may be easy, try keeping your code as clean and as readable as possible!

In [62]:
def change_types(l):
    l1=[]
    for x in l:
        if type(x)==str:
            l1.append(x.capitalize()+"!")
        elif type(x)==int:
            if x%2==0:
                a=x+1
                l1.append(a)
            else:
                l1.append(x)
        elif type(x)==bool:
            l1.append(not(x))
        else:
            continue
    return l1

In [63]:
change_types(["a", 12, True])

['A!', 13, False]

In [64]:
change_types([13, "13", "12", "twelve"])

[13, '13!', '12!', 'Twelve!']

In [65]:
change_types([False, "False", "true"])

[True, 'False!', 'True!']

Q27) A man named Thomas Malthus described what is now called a Malthusian Catastrophe. According to him, food production grows by a fixed amount, but population grows by a percentage. So, the food supply would soon be insufficient for the population.

    Your job is to find out when that will occur. For this challenge, assume 1 population needs 1 unit of food production. Food production and population both start at 100. The year starts at 0.

    The catastrophe happens when the population is larger than food production.

    The function will pass:

    food_growth ⁠— an integer ⁠— food production increase per year.
    pop_mult ⁠— a floating-point number ⁠— population growth multiplier per year.
    Examples
    malthusian(4255, 1.41) ➞ 20
    # { food_prod: 85,200, pop: 96,467.77..., year: 20 }

    malthusian(9433, 1.09) ➞ 107
    # { food_prod: 1,009,431, pop: 1,010,730.28..., year: 107 }

    malthusian(5879, 1.77) ➞ 12
    # { food_prod: 70,648, pop: 94,553.84..., year: 12 }
    Notes
    Return the year that the overtake happens, not the next year.
    Make sure you don't make the mistake of adding a year, then calculating the changes to food and population. That way, you miss year 0.
    If the population and food production are equal, that is not a catastrophe.

In [95]:
def malthusian(food_growth,pop_mult):
    food=100;pop=100;year=0
    while food>=pop:
        food+=food_growth
        pop*=pop_mult
        year+=1
    return year

In [96]:
malthusian(4255, 1.41)

20

In [97]:
malthusian(9433, 1.09)

107

In [98]:
malthusian(5879, 1.77)

12

Q28)A list is special if every even index contains an even number and every odd index contains an odd number. Create a function that returns True if an array is special, and False otherwise.

    Examples
    is_special_array([2, 7, 4, 9, 6, 1, 6, 3]) ➞ True
    # Even indices: [2, 4, 6, 6]; Odd indices: [7, 9, 1, 3]

    is_special_array([2, 7, 9, 1, 6, 1, 6, 3]) ➞ False
    # Index 2 has an odd number 9.

    is_special_array([2, 7, 8, 8, 6, 1, 6, 3]) ➞ False
    # Index 3 has an even number 8.

In [37]:
def is_special_array(a):
    c=0;b=0
    for x in range(len(a)):
        if (a[x]%2==0 and x%2==0) or (a[x]%2!=0 and x%2!=0):
            c+=1
        else:
            b+=1
    return not(b>0)

In [38]:
is_special_array([2, 7, 4, 9, 6, 1, 6, 3])

True

In [39]:
is_special_array([2, 7, 9, 1, 6, 1, 6, 3])

False

In [40]:
is_special_array([2, 7, 8, 8, 6, 1, 6, 3])

False

Q29) Check the principles of minimalist code in the intro to the first challenge.

    In the Code tab you will find code that is missing a single character in order to pass the tests. However, your goal is to submit a function that is as minimalist as possible. Use the tips in the tips section below.

    Write a function that returns True if the given positive integer is a prime number and False if it's not.

    Tips
    Everything you write after if, not, while or around and, or, is, in is interpreted as a boolean.

    A function that prints a countdown from the absolute value of x and also prints "hey" if the number is a multiple of 3 and contains the digit "3", could be written as:

    def countdown(x):
        if x < 0:
            x = x * -1
        while x > 0:
            if x % 3 == 0:
                if "3" in str(x):
                    print(x)
                    print("hey")
            else:
                print(x)
            x = x - 1
    This can be simplified to:

    def countdown(x):
        x = abs(x)
        while x:
            print(x)
            if not x % 3 and "3" in str(x):
                print("hey")
            x -= 1
    abs() gets the absolute value of a number.
    while will interpret x as a boolean, exiting the loop after reaching zero.
    print(x) needs to be called whether x is a "hey number" or not. This can be done outside of any if statement, instead of in both.
    Both conditions x % 3 == 0 and "3" in str(x) need to be True, so they can be joined with an and.
    Bonus
    A more Pythonistic approach:

    def countdown(x):
        for i in range(abs(x), -1, -1):
            print(x)
            if not x % 3 and "3" in str(x):
                print("hey")
    Notes
    This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comment tab.
    Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments tab.
    You can find all the exercises in this series over here.

In [5]:
def is_prime(n):
    if(n==0 and n==1): return False 
    i = 2
    while i<n:
        if n%i==0: return False 
        i += 1
    return True

In [6]:
is_prime(1)

True

In [7]:
is_prime(2)

True

In [8]:
is_prime(4)

False

30) Create a function that takes a string s and returns a list of two-paired characters. If the string has an odd number of characters, add an asterisk * in the final pair.

See the below examples for a better understanding:

    Examples
    string_pairs("mubashir") ➞ ["mu", "ba", "sh", "ir"]

    string_pairs("edabit") ➞ ["ed", "ab", "it"]
    
    string_pairs("airforces") ➞ ["ai", "rf", "or", "ce", "s*"]
    Notes
    Return [] if the given string is empty.

In [45]:
def string_pairs(s):
    l=[]
    for x in range(0,len(s),2):
        if x==len(s)-1:
            l.append(s[x]+"*")
        else:
            l.append(s[x]+s[x+1])            
    return l

In [46]:
string_pairs("mubashir")

['mu', 'ba', 'sh', 'ir']

In [47]:
string_pairs("edabit")

['ed', 'ab', 'it']

In [48]:
string_pairs("airforces")

['ai', 'rf', 'or', 'ce', 's*']