### Condition

Q1) 
Create a function that takes a boolean variable flag and returns it as a string.

Examples
bool_to_string(True) ➞ "True"

bool_to_string(False) ➞ "False"
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [2]:
def bool_to_string(flag):
    if flag==False:
        return "False"
    elif flag==True:
        return "True"
    else:
        return None

In [3]:
bool_to_string(True)

'True'

In [4]:
bool_to_string(False)

'False'

Q2)
Create a function that returns True when num1 is equal to num2; otherwise return False.

Examples
is_same_num(4, 8) ➞ False

is_same_num(2, 2) ➞  True

is_same_num(2, "2") ➞ False
Notes
Don't forget to return the result.

In [5]:
def equal_nums(num1,num2):
    if num1==num2:
        return True
    else:
        return False

In [6]:
equal_nums(2,3)

False

Q3) Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise return False.

Examples
less_than_or_equal_to_zero(5) ➞ False

less_than_or_equal_to_zero(0) ➞ True

less_than_or_equal_to_zero(-2) ➞ True
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [7]:
def equalto(num):
    if num<=0:
        return True
    else:
        return False

In [8]:
equalto(0)

True

In [9]:
equalto(-1)

True

Q4) Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, and would like to greet him slightly differently. She added a special case in her function, but she made a mistake.

Can you help her?

Examples
greeting("Matt") ➞ "Hello, Matt!"

greeting("Helen") ➞ "Hello, Helen!"

greeting("Mubashir") ➞ "Hello, my Love!"
Notes
READ EVERY WORD CAREFULLY, CHARACTER BY CHARACTER!
Don't overthink this challenge; it's not supposed to be hard.

In [14]:
def greetings(var):
    if var=="Mubashir":
        return "Hello, My Love!"
    else:
        return "Hello,"+var+"!"

In [15]:
greetings("Mati")

'Hello,Mati!'

In [16]:
greetings("Mubshair")

'Hello,Mubshair!'

Q5) Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 or if their sum is 10.

Examples
makes10(9, 10) ➞ True

makes10(9, 9) ➞ False

makes10(1, 9) ➞ True
Notes
Don't forget to return the result.

In [18]:
def ifsum(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False

In [19]:
ifsum(1,2)

False

In [20]:
ifsum(5,5)

True

In [21]:
ifsum(10,1)

True

Q6) Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return False.

To illustrate:

profitable_gamble(0.2, 50, 9)
... should yield True, since the net profit is 1 (0.2 * 50 - 9), and 1 > 0.

Examples
profitable_gamble(0.2, 50, 9) ➞ True

profitable_gamble(0.9, 1, 2) ➞ False

profitable_gamble(0.9, 3, 2) ➞ True
Notes
A profitable gamble is a game that yields a positive net profit, where net profit is calculated in the following manner: net_outcome = probability_of_winning * prize - cost_of_playing.

In [22]:
def ppp(prob,prize,pay):
    if prob*prize>pay:
        return True
    else:
        return False

In [23]:
ppp(2,3,1)

True

In [25]:
ppp(1,3,7)

False

Q7) Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.

Examples
divisible(1) ➞ False

divisible(1000) ➞ True

divisible(100) ➞ True
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [26]:
def diviby(num):
    if num%100==0:
        return True
    else:
        return False

In [27]:
diviby(300)

True

In [29]:
diviby(345)

False

Q8) Create a function that takes two strings as arguments and return either True or False depending on whether the total number of characters in the first string is equal to the total number of characters in the second string.

Examples
comp("AB", "CD") ➞ True

comp("ABC", "DE") ➞ False

comp("hello", "edabit") ➞ False
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [30]:
def chr_len(a,b):
    if len(a)==len(b):
        return True
    else:
        return False

In [31]:
chr_len("asd","cvb")

True

In [32]:
chr_len("asd","cvbf")

False

Q9) Given a string, return True if its length is even or False if the length is odd.

Examples
odd_or_even("apples") ➞ True
#### The word "apples" has 6 characters.
#### 6 is an even number, so the program outputs True.

odd_or_even("pears") ➞ False
#### "pears" has 5 letters, and 5 is odd.
#### Therefore the program outputs False.

odd_or_even("cherry") ➞ True
Notes
N/A

In [33]:
def even_len(a):
    if len(a)%2==0:
        return True
    else:
        return False

In [34]:
even_len("even")

True

In [35]:
even_len("odd")

False

Q10) Create a function that takes a string; we'll say that the front is the first three characters of the string. If the string length is less than three characters, the front is whatever is there. Return a new string, which is three copies of the front.

Examples
front3("Python") ➞ "PytPytPyt"

front3("Cucumber") ➞ "CucCucCuc"

front3("bioshock") ➞ "biobiobio"
Notes
Don't forget to return the result.

In [40]:
def three_char(a):
    if len(a)<3:
        return a*3
    else:
        return a[:3]*3

In [41]:
three_char("on")

'ononon'

In [42]:
three_char("Apple")

'AppAppApp'

Q11) In this series we're going to see common redundancies and superfluities that make our code unnecessarily complicated and less readable, and we're going to learn how to avoid them.

In line with the spirit of the series, we can summarize the general rules of minimalist code in two simple principles:

Keep your code clean and readable.
While not violating the first principle: get rid of everything superfluous.
In order to achieve this you should:

Deepen your knowledge of logics.
Deepen your understanding of the particular language you're coding with.
I would also add: observe and learn from the pros. Make a habit of checking the Solutions tab after solving a challenge on Edabit. There is absolutely nothing wrong in assimilating features of someone else's coding style, especially if yours is not yet fully developed.

Goal
In the Code tab you will find a code that is missing a single character in order to pass the tests. However, YOUR GOAL is to submit a function as minimalist as possible. Use the tips in the Tips section down below.

Write a function that returns True if the given integer is even, and False if it's odd.

Tips
Using an if statement in order to return boolean or to set a variable to a boolean is redundant.

A function that returns True if a person's age is 18 or greater and False otherwise, could be written as:

def legal_age(age):
  if age >= 18:
    return True
  else:
    return False
Notice that age >= 18 will already give us a boolean (True or False). This means that the function can be written in a much simpler and cleaner way:

def legal_age(age):
  return age >= 18
Notes
This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in the Comment tab.
Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in the Comments tab.
You can find all the exercises in this series over here.

Q) 
 def is_even(n):

	if n % 2 == 0:
		return True
	elif n % 2 == 1
		return False

In [43]:
def is_even(n):
    return n%2==0

In [44]:
is_even(2)

True

In [45]:
is_even(7)

False

Q12) Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.

Examples
isEvenOrOdd(3) ➞ "odd"

isEvenOrOdd(146) ➞ "even"

isEvenOrOdd(19) ➞ "odd"
Notes
Dont forget to return the result.
Input will always be a valid integer.
Expect negative integers (whole numbers).
Tests are case sensitive (return "even" or "odd" in lowercase).

In [47]:
def even_odd(a):
    if a%2==0:
        return "even"
    else:
        return "odd"

In [48]:
even_odd(9)

'odd'

In [49]:
even_odd(4)

'even'

Q13) Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".

Examples
is_plural("changes") ➞ True

is_plural("change") ➞ False

is_plural("dudes") ➞ True

is_plural("magic") ➞ False
Notes
Don't forget to return the result.
Remember that return True (boolean) is not the same as return "True" (string).
This is an oversimplification of the English language. We are ignoring edge cases like "goose" and "geese", "fungus" and "fungi", etc.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [50]:
def plurals(s):
    return s[-1]=="s"

In [52]:
plurals("eyes")

True

In [54]:
plurals("ear")

False

Q14) Create a function that takes a string (a random name). If the last character of the name is an "n", return True, otherwise return False.

Examples
is_last_character_n("Aiden") ➞ True

is_last_character_n("Piet") ➞ False

is_last_character_n("Bert") ➞ False

is_last_character_n("Dean") ➞ True
Notes
The function must return a boolean value ( i.e. True or False).

In [58]:
def last_chr(s):
    return s[-1]=="n"

In [59]:
last_chr("rani")

False

In [60]:
last_chr("ron")

True

Q15) The packaging system is running wild! The candy is lying loose all over in the warehouse, the cereal is missing, and bread is stuffed in a bottle. What is going on here? The candy should be in plastic and the bread should be in a bag.

The packaging machine is running the get_container() function to retrieve the container of a product. But something is not right...

Examples
get_container("Bread") ➞ "bag"

get_container("Beer") ➞ "bottle"

get_container("Candy") ➞ "plastic"

get_container("Cheese") ➞ None
Notes
Think about what the object's packaging should be.

In [68]:
def get_container(a):
    x=a.capitalize()
    if x=="Bread":
        return "bag"
    elif x=="Beer":
        return "bottle"
    elif x=="Candy":
        return "plastic"
    else:
        print("None")

In [62]:
get_container("candy")

'plastic'

In [63]:
get_container("beer")

'bottle'

In [64]:
get_container("bread")

'bag'

In [69]:
get_container("cheese")

None

Q16) Due to a programming concept known as truthiness, certain values can be evaluated to (i.e. take the place of) booleans. For example, 1 (or any number other than 0) is often equivalent to True, and 0 is often equivalent to False.

Create a function that returns the opposite of the given boolean, as a number.

Examples
flip_bool(True) ➞ 0

flip_bool(False) ➞ 1

flip_bool(1) ➞ 0

flip_bool(0) ➞ 1

In [131]:
def flip(a):
    if a==False:
        return 1
    else:
        return 0

In [132]:
flip(1)

0

In [133]:
flip(0)

1

In [134]:
flip(True)

0

In [135]:
flip(False)

1

In [136]:
flip(9)

0

Q17) Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and calculates the area of that shape.

Examples
area_shape(2, 3, "triangle") ➞ 3

area_shape(8, 6, "parallelogram") ➞ 48

area_shape(2.9, 1.3, "parallelogram") ➞ 3.77
Notes
Area of a triangle is 0.5 * b * h
Area of a parallelogram is b * h
Assume triangle and parallelogram are the only inputs for shape.

In [150]:
def area_shape(base,height,shape):
    if shape=="triangle":
        return (0.5*base*height)
    elif shape=="parallelogram":
        return (base*height)
    else:
        return "wrong shape"

In [151]:
area_shape(2,3,"triangle")

3.0

In [152]:
area_shape(2,3,"parallelogram")

6

In [153]:
area_shape(2,3,"square")

'wrong shape'

In [154]:
area_shape(2.1,3.11,"triangle")

3.2655

Q18) You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.

Examples
AND(1, 1) ➞ 1
AND(0, 0) ➞ 0

OR(1, 0) ➞ 1
OR(1, 1) ➞ 1

NOT(0) ➞ 1
NOT(1) ➞ 0
Notes
Check the Resources tab for some help.

In [90]:
def AND(a,b):
    if a==1 and b==1:
        return 1
    else:
        return 0
def OR(a,b):
    if a==1 and b==0 or a==0 and b==1 or a==1 and b==1:
        return 1
    else:
        return 0
def NOT(a):
    if a==1:
        return 0
    else:
        return 1

In [91]:
AND(1,1)

1

In [92]:
AND(0,0)

0

In [93]:
OR(1,1)

1

In [94]:
OR(0,0)

0

In [95]:
OR(1,0)

1

In [96]:
NOT(1)

0

In [97]:
NOT(0)

1

Q19) A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break.

Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.

Examples
should_serve_drinks(17, True) ➞ False

should_serve_drinks(19, False) ➞ True

should_serve_drinks(30, True) ➞ False
Notes
Return True or False.
Some countries have a slightly higher drinking age, but for the purposes of this challenge, it will be 18.

In [101]:
def bartender(age,b):
    if b==True and age<18:
        return False
    else: 
        return True

In [102]:
bartender(18,True)

True

In [103]:
bartender(18,False)

True

In [104]:
bartender(17,True)

False

Q20) Check the principles of minimalist code in the intro to the first challenge.

In the Code tab you will find a code that is missing a single character in order to pass the tests. However, your goal is to submit a function as minimalist as possible. Use the tips in the tips section down below.

Write a function that returns the string "even" if the given integer is even, and the string "odd" if it's odd.

Tips
Converting a boolean, or something that will ultimately be interpreted as a boolean, into a boolean is redundant.

For example, the code:

boolean = bool(x < 4)
return boolean == True
Is equivalent to simply:

return x < 4
A comparison with <, <=, ==, !=, >=, > will always result in a boolean, therefore using the function bool() is totally unnecessary.
boolean == True is redundant, as it will always return boolean.
To obtain the opposite of boolean we could use boolean == False. However, a much cleaner way of doing this is simply not boolean.
While preserving readability, avoid declaring unnecessary variables.
Notes
This is an open series: there isn't a definite list of features for the challenges. Please, do not hesitate to leave your suggestions in Comments.
Readability is indeed a subjective concept. Let's discuss it! Feel free to leave your opinion in Comments.
You can find all the exercises in this series over here.

In [120]:
def even_bool(a):
    x=bool(a%2)
    if x==False:
        return "even"
    else:
        return "odd"

In [121]:
even_bool(2)

'even'

Q21) Create a function that takes a string txt and a number n and returns the repeated string n number of times.

If given argument txt is not a string, return Not A String !!

Examples
repeat_string("Mubashir", 2) ➞ "MubashirMubashir"

repeat_string("Matt", 3) ➞ "MattMattMatt"

repeat_string(1990, 7) ➞ "Not A String !!"
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [123]:
def repeat_string(a,b):
    if type(a)==str:
        return a*b
    else:
        return "Not a String"

In [124]:
repeat_string("abs",3)

'absabsabs'

In [125]:
repeat_string(4,3)

'Not a String'

Q22) A taxi journey costs $3 for the first kilometer travelled. However, all kilometers travelled after that will cost $2 each.

Create a function which returns the distance that the taxi must've travelled, given the cost as a parameter.

Examples
journey_distance(3) ➞ 1
###### The first kilometer costs $3

journey_distance(9) ➞ 4
########The first kilometer costs $3 plus the other three kilometers (costing $2 each)

journey_distance(5) ➞ 2
Notes
The input tests are valid integers >= 0.
The output will always be a whole number.
Remember that you are calculating the distance from the cost, not the other way around!

In [155]:
def taxi(cost):
    if cost==3:
        return distance
    else:
        return 1+((cost-3)/2)

In [157]:
taxi(5)

2.0

In [158]:
taxi(4)

1.5

Q23) Levers are simple machines with a rigid beam and a fulcrum. From the picture below, you can see that there are 3-types of levers: first class, second class and third class.

In a first class lever, the fulcrum is situated in the middle with the effort and the load being positioned opposite of each other.
In a second class lever, the fulcrum is situated in the right with the effort on the left and the load in the middle.
In a third class lever, the fulcrum is situated in the left with the effort being in the middle and the load being on the right.
Given a list that contains the fulcrum "f", the effort "e", and the load "l", write a function that determines whether or not the list shows a first class lever, second class lever, or a third class lever.

Examples
determine_lever(["e", "f", "l"]) ➞ "first class lever"

determine_lever(["e", "l", "f"]) ➞ "second class lever"

determine_lever(["f", "e", "l"]) ➞ "third class lever"
Notes
A pair of scissors is a first class lever, a nutcracker is a second class lever and a broom is a third class lever.

In [163]:
def lever(a):
    for x in a:
        if a[0]=="e" and a[1]=="f":
            return "first class lever"
        elif a[0]=="f" and a[1]=="e":
            return "third class lever"
        elif a[0]=="e" and a[1]=="l":
            return "second class lever"
        else:
            return "Not a lever class"

In [164]:
lever(["e","f","l"])

'first class lever'

In [165]:
lever(["f","e","l"])

'third class lever'

In [168]:
lever(["e", "l", "f"])

'second class lever'

In [166]:
lever(["l","e","f"])

'Not a lever class'

In [167]:
lever(["f","l","e"])

'Not a lever class'

Q24) Write a function that checks whether a person can watch an MA15+ rated movie. One of the following two conditions is required for admittance:

The person is at least 15 years old.
They have parental supervision.
The function accepts two parameters, age and is_supervised. Return a boolean.

Examples
accept_into_movie(14, True) ➞ True

accept_into_movie(14, False) ➞ False

accept_into_movie(16, False) ➞ True
Notes
age is a decimal.
is_supervised is a boolean.

In [175]:
def MA(age,supervision):
    if supervision==True or age<=15:
        return True
    else:
        return False

In [176]:
MA(15,False)

True

In [177]:
MA(15,True)

True

In [178]:
MA(14,True)

True

In [179]:
MA(16,True)

True

In [180]:
MA(10,True)

True

Q25) Create a function that returns a number, based on the string provided. Here is a list of all digits:
    
word("one") ➞ 1

word("two") ➞ 2

word("nine") ➞ 9

In [181]:
def word(a):
    x={"one":1,"two":2,"three":3,"four":4,"five":5,"six":6,"seven":7,"eight":8,"nine":9,"zero":0}
    return x[a]

In [182]:
word("one")

1

In [183]:
word("two")

2

In [184]:
word("three")

3

Q25) The ternary operator (sometimes called Conditional Expressions) in Python is an alternative to the if... else... statement.

It is written in the format:

result_if_true if condition else result_if_false
Ternary operators are often more compact than multi-line if statements, and are useful for simple conditional tests.

For example:

is_nice = True

##### Using ternary operator.
state = "nice" if is_nice else "not nice"

##### Equivalent code using multi-line if statements.
if is_nice:
    state = "nice"
else:
    state = "not nice"
Write a function that uses the ternary operator to return "yeah" if b is True, and "nope" otherwise.

Examples
yeah_nope(True) ➞ "yeah"

yeah_nope(False) ➞ "nope"

In [2]:
def yeah_nope(b):
    return "yeah" if b else "nope"

In [3]:
yeah_nope(True)

'yeah'

In [4]:
yeah_nope(False)

'nope'

Q26) Try finding your ancestors and offspring with code.

Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the name of an ancestor (m/f) or descendant (m/f).

If the number is negative, return the related ancestor.
If positive, return the related descendant.
You are generation 0. In the case of 0 (male or female), return "me!".
Examples
generation(2, "f") ➞ "granddaughter"

generation(-3, "m") ➞ "great grandfather"

generation(1, "f") ➞ "daughter"
Notes
Check the Resources tab for helpful hints.

Generation	Male	Female:

-3	great grandfather	great grandmother
-2	grandfather	grandmother
-1	father	mother
0	me!	me!
1	son	daughter
2	grandson	granddaughter
3	great grandson	great granddaughter

In [6]:
def offsprings(n,g):
    x={-3:{"m":"Great Grand Father","f":"Great Grand Mother"},
       -2:{"m":"Grandfather","f":"Grandmother"},
       -1:{"m":"Father","f":"mother"},
       0:{"m":"Me!","f":"Me!"},
       1:{"m":"Son","f":"Daughter"},
       2:{"m":"Grandson","f":"Granddaughter"},
       3:{"m":"Great Grandson","f":"Great Granddaughter"}
      }
    return x[n][g]

In [7]:
offsprings(-1,"m")

'Father'

In [8]:
offsprings(-1,"f")

'mother'

In [9]:
offsprings(0,"m")

'Me!'

In [10]:
offsprings(0,"f")

'Me!'

In [11]:
offsprings(-3,"m")

'Great Grand Father'

Q27) 
Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition spurs into action.

Backpack Bill has an infinite inventory space, but a limited number of coins.
Wallet Will has an infinite number of coins, but a limited inventory space.
Create a function that returns the name of the man who can bring home the most items. The parameters are given as follows:

Bill's amount of money.
Will's amount of inventory space.
The item's price.
The item's size.
Worked Example
who_wins_tonight(40, 95, 5, 10) ➞ "Will"

#### The item costs 5 coins and takes up 10 inventory spaces.
#### Bill can only buy a maximum of 8 items (40 coins DIV 5 = 8).
#### Will can only bring home a maximum of 9 items. (95 inventory spaces DIV 10 = 9).
#### Will is the winner.
Examples
who_wins_tonight(20, 20, 5, 10) ➞ "Bill"

who_wins_tonight(10, 2, 20, 1) ➞ "Will"

who_wins_tonight(3, 7, 2, 5) ➞ "Tie"
Notes
DIV means a floored division. That means you round down after dividing.
Return "Tie" if both men can afford the same amount of stuff.
All numbers will be positive integers.

In [14]:
def winner(coins,space,price,size):
    bill=coins//price
    will=space//size
    if will>bill:
        return "will is winner"
    elif bill>will:
        return "bill is winner"
    else:
        return "Tie"

In [15]:
winner(20, 20, 5, 10)

'bill is winner'

In [16]:
winner(10, 2, 20, 1)

'will is winner'

In [17]:
winner(3,7,2,5)

'Tie'

Q28) Create a function that validates whether a number n is within the bounds of lower and upper. Return False if n is not an integer.

Examples
int_within_bounds(3, 1, 9) ➞ True

int_within_bounds(6, 1, 6) ➞ False

int_within_bounds(4.5, 3, 8) ➞ False
Notes
The term "within bounds" means a number is considered equal or greater than a lower bound and lesser (but not equal) to an upper bound, (see example #2).
Bounds will be always given as integers.

In [18]:
def intin(a,b,c):
    if a<b<c:
        return True
    else:
        return False

In [19]:
intin(3,1,9)

False

In [20]:
intin(6,1,6)

False

In [22]:
intin(4.5,3,8)

False

In [23]:
intin(4.5,3.0,8.0)

False

Q29) Create a function that determines if the temp of the water is considered boiling or not. temp will be measured in Fahrenheit and Celsius.

Examples
is_boiling("212F") ➞ True

is_boiling("100C") ➞ True

is_boiling("0F") ➞ False
Notes
The boiling point of water is 212F in Fahrenheit and 100C in Celsius.

In [28]:
def water_boiling(temp):
    a=temp[:-1]
    y=temp[-1]
    b=int(a)
    if b>=212 and y=="F":
        return True
    elif b>=100 and y=="C":
        return True
    else:
        return False

In [29]:
water_boiling("212F")

True

In [30]:
water_boiling("210F")

False

In [31]:
water_boiling("0F")

False

In [32]:
water_boiling("212C")

True

In [33]:
water_boiling("100C")

True

In [34]:
water_boiling("10C")

False

In [35]:
water_boiling("-12F")

False

Q30) Create a function that takes two arguments of a list of numbers lst and a constant number n and returns the n largest numbers from the given list.

Examples
largest_numbers(2, [4, 3, 2, 1]) ➞ [3, 4]

largest_numbers(1, [7, 19, 4, 2]) ➞ [19]

largest_numbers(3, [14, 12, 57, 11, 18, 16]) ➞ [16, 18, 57]

largest_numbers(0, [1, 3, 4, 2]) ➞ []
Notes
The returned list must be sorted in ascending order.

In [59]:
def n_largest(n,lst):
    lst.sort()
    if n==0:
        lst.clear()
        return lst
    elif len(lst)<n:
        return "Lenght exceeded"
    else:
        return lst[-n:]

In [60]:
n_largest(3,[4, 3, 2, 1])

[2, 3, 4]

In [61]:
n_largest(0,[4, 3, 2, 1])

[]

In [62]:
n_largest(5,[4, 3, 2, 1])

'Lenght exceeded'

In [63]:
n_largest(1, [7, 19, 4, 2])

[19]

In [64]:
n_largest(3, [14, 12, 57, 11, 18, 16])

[16, 18, 57]

Q31) Create a function that takes a range object r, index i, and returns a list where the first element is the number of elements in the range object, and the second element is the element of the range object at the given index.

Examples
length_element(range(2, 4), 0) ➞ [2, 2]

length_element(range(12, 15, 2), 1) ➞ [2, 14]

length_element(range(40, 50, 3), 2) ➞ [4, 46]
Notes
No need to check for IndexError.

In [2]:
def length(r,i):
    l=[]
    l.append(len(r))
    l.append(r[i])
    return l

In [3]:
length(range(2, 4), 0)

[2, 2]

In [4]:
length(range(12, 15, 2), 1)

[2, 14]

In [5]:
length(range(40, 50, 3), 2)

[4, 46]

Q31) Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.

Examples
is_triangle(2, 3, 4) ➞ True

is_triangle(3, 4, 5) ➞ True

is_triangle(4, 3, 8) ➞ False
Notes
a, b and, c are the side lengths of the triangles.
Test input will always be three positive numbers.

In [70]:
def is_triangle(a,b,c):
    if a+b>c and b+c>a and c+a>b:
        return True
    else:
        return False

In [71]:
is_triangle(2, 3, 4)

True

In [72]:
is_triangle(3, 4, 5)

True

In [73]:
is_triangle(4,3,8)

False

In [74]:
is_triangle(1,2,3)

False

A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy unless they're defined as falsy.

All falsy values are as follows:

False
None
0
[]
{}
""
Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.

Examples
is_truthy(0) ➞ 0

is_truthy(False) ➞ 0

is_truthy("") ➞ 0

is_truthy("False") ➞ 1
Notes
Don't forget to return the result.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [141]:
def truthy_falsy(a):
    if a==False or a=="" or a=={} or a==[] or a==None:
        return 0
    else:
        return 1

In [142]:
truthy_falsy(0)

0

In [143]:
truthy_falsy(1)

1

In [144]:
truthy_falsy("False")

1

In [145]:
truthy_falsy("")

0

In [146]:
truthy_falsy([])

0

In [147]:
truthy_falsy({})

0

In [148]:
truthy_falsy(None)

0

In [149]:
truthy_falsy(lambda n:n)

1

Write a function that returns True if both numbers are:

Smaller than 0, OR ...
Greater than 0, OR ...
Exactly 0
Otherwise, return False.

Examples
both(6, 2) ➞ True

both(0, 0) ➞ True

both(-1, 2) ➞ False

both(0, 2) ➞ False
Notes
Inputs will always be two numbers.

In [159]:
def number(a,b):
    if a<0 and b<0 or a>0 and b>0 or a==0 and b==0:
        return True
    else:
        return False

In [160]:
number(6,2)

True

In [161]:
number(0,0)

True

In [162]:
number(-1,2)

False

In [163]:
number(0,2)

False

Create a function that takes a list. This list will contain numbers represented as strings.

Your function should split this list into two new lists. The first list should contain only even numbers. The second only odd. Then, wrap these two lists in one main list and return it.

Return an empty list if there are no even numbers, or odd.

Examples
clean_up_list(["8"]) ➞ [[8], []]

clean_up_list(["11"]) ➞ [[], [11]]

clean_up_list(["7", "4", "8"]) ➞ [[4, 8], [7]]

clean_up_list(["9", "4", "5", "8"]) ➞ [[4, 8], [9, 5]]

Notes: All numbers will be positive integers.

In [206]:
def even_and_odd(a):
    x=[];y=[];even=[];odd=[]
    for z in a:
        l=int(z)
        x.append(l)
    for s in x:
        if s%2==0:
            even.append(s)
        else:
            odd.append(s)
    y.append(even)
    y.append(odd)
    return y

In [207]:
even_and_odd(["1","2"])

[[2], [1]]

In [208]:
even_and_odd(["7", "4", "8"])

[[4, 8], [7]]

In [210]:
even_and_odd(["9", "4", "5", "8"])

[[4, 8], [9, 5]]

In [211]:
even_and_odd(["8"])

[[8], []]

In [212]:
even_and_odd(["11"])

[[], [11]]

When creating variables, the variable name must always start with a letter and cannot contain spaces, though numbers and underscores are allowed to be contained in it also.

Create a function which returns True if a given variable name is valid, otherwise return False.

Examples
variable_valid("result") ➞ True

variable_valid("odd_nums") ➞ True

variable_valid("2TimesN") ➞ False
Notes
Inputs are given as strings.
Variable names with spaces are not allowed.
Although this question may seem like otherwise, you can't actually assign words with quotes around them as variables.

In [262]:
def valid_name(a):
    
    if a[1]==" " or a.find(" ")>0 or a[0].isdigit():
        return False
    else:
        return True

In [263]:
valid_name("Counter name")

False

In [264]:
valid_name("result")

True

In [265]:
valid_name("1result")

False

In a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.

Can you reach your friend's tile number in the next roll? Create a function that returns if it's possible to earn a bonus when you roll the die.

Examples
possible_bonus(3, 7) ➞ True

possible_bonus(1, 9) ➞ False

possible_bonus(5, 3) ➞ False
Notes
You cannot move backward (which is why example #3 doesn't work).
If you are already on the same tile, return False, as you would be advancing away.
Expect only positive integer inputs.

In [266]:
def bonus(a,b):
    if a-b>0 or a-b==0:
        return False
    else:
        return True

In [267]:
bonus(1,6)

True

In [269]:
bonus(2,2)

False

In [270]:
bonus(5,3)

False

Create a function that takes two integers and checks if they are equal.

Examples
is_equal(5, 6) ➞ False

is_equal(1, 1) ➞ True

is_equal("1", 1) ➞ False
Notes
If there is a string then it should return False.

In [274]:
def equal(a,d):
    if a==d:
        return True
    else:
        return False

In [275]:
equal(1,2)

False

In [276]:
equal(2,2)

True

In [277]:
equal("1",1)

False

In [279]:
equal("1",5)

False

Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num is 1, otherwise return "Bye" + name.

Examples
say_hello_bye("alon", 1) ➞ "Hello Alon"

say_hello_bye("Tomi", 0) ➞ "Bye Tomi"

say_hello_bye("jose", 0) ➞ "Bye Jose"
Notes
The name you return must be capitalized.

In [284]:
def hello_bye(name,num):
    if num==1:
        return "Hello"+" "+name
    else:
        return "Bye"+" "+name

In [285]:
hello_bye("Emma",1)

'Hello Emma'

In [286]:
hello_bye("Alice",0)

'Bye Alice'

Create a function that takes three number arguments — one number as an input and two additional numbers representing the endpoints of a closed range — and return the number limited to this range.

If the number falls within the range, the number should be returned.
If the number is less than the lower limit of the range, the lower limit should be returned.
If the number is greater than the upper limit of the range, the upper limit should be returned.
Examples
limit_number(5, 1, 10) ➞ 5

limit_number(-3, 1, 10) ➞ 1

limit_number(14, 1, 10) ➞ 10

limit_number(4.6, 1, 10) ➞ 4.6
Notes
All test inputs will be valid numbers.
All test inputs' range parameters will be in the correct order (i.e. the lower range will be less than or equal to the upper range).

In [1]:
def limit_number(a,b,c):
    higher=0;lower=0
    if a>c:
        higher+=a
        lower+=c
    else:
        higher+=c
        lower+=a
    if b<lower:
        return lower
    elif b>higher:
        return higher
    else:
        return b

In [2]:
limit_number(5, 1, 10)

5

In [3]:
limit_number(-3, 1, 10)

1

In [4]:
limit_number(14, 1, 10)

10

In [5]:
limit_number(-100, -73, -70)

-73

Write a function that takes an integer and:

If the number is a multiple of 3, return "Hello".
If the number is a multiple of 5, return "World".
If the number is a multiple of both 3 and 5, return "Hello World".
Examples
hello_world(3) ➞ "Hello"

hello_world(5) ➞ "World"

hello_world(15) ➞ "Hello World"
Notes
Don't forget to return the result.

In [6]:
def hello_world(a):
    if a%3==0 and a%5==0:
        return "Hello world"
    elif a%3==0:
        return "Hello"
    elif a%5==0:
        return "world"
    else:
        return "Not divi by 3 and 5"

In [7]:
hello_world(3)

'Hello'

In [8]:
hello_world(5)

'world'

In [9]:
hello_world(15)

'Hello world'

Edabit allows for markdown formatting, meaning that it's possible to format words by surrounding text with special characters. For example, to get bold text, you surround the text with double asterisks, like this **bold**.

Here is a list of the possible formatting options in Edabit and how to apply them:

**bold**
_italics_
`inline code`
~~strikethrough~~
Challenge
Given a string and a style character, return the newly formatted string. Style characters are single letters that represent the different types of formatting.

For the purposes of this challenge, the style characters are as follows:

"b" is for bold
"i" is for italics
"c" is for inline code
"s" is for strikethrough
Examples
md_format("Bold", "b") ➞ "**Bold**"

md_format("leaning text", "i") ➞ "_leaning text_"

md_format("Edabit", "c") ➞ "`Edabit`"

md_format("That's a strike!", "s") ➞ "~~That's a strike!~~"
Notes
Remember to format your comments!

In [10]:
def editor(a,s):
    #a=""
    if s=="b":
        return "**"+a+"**"
    elif s=="i":
        return "_"+a+"_"
    elif s=="c":
        return "`"+a+"`"
    else:
        return "~~"+a+"~~"

In [11]:
editor("Bold", "b")

'**Bold**'

In [12]:
editor("leaning text", "i")

'_leaning text_'

In [13]:
editor("Edabit", "c")

'`Edabit`'

In [14]:
editor("That's a strike!", "s")

"~~That's a strike!~~"

Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance from the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y) and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).

Bullseye and inner circle scores = 10 points
Middle ring scores = 5 points
Outer ring scores = 1 point
Outside the target = 0 points
We play it simple so a dart in the double or treble ring counts as usual and does not affect the segment score.

Board and circle radius is as follows:

Board radius and outer circle radius = 10 units
Middle circle radius = 5 units
Inner circle radius = 1 unit
Short Description
Convert cartesian coordinates (x, y) to polar coordinates (R, phi) and return the score based on the R value. R > 10 gives 0 points, 10 >= R > 5 gives 1 point, 5 >= R > 1 gives 5 points, R <= 1 gives 10 points.

Examples
darts_scoring(0, 0) ➞ 10

darts_scoring(3, 2) ➞ 5

darts_scoring(0, -0.8) ➞ 10
Notes
X, Y values can be both positive and negative.
X, Y values can be int and float.
No wrong type values will be given.

In [15]:
def darts(x,y):
    distance=(x**2+y**2)**0.5
    if 10>=distance>5:
        return 1
    elif 5>=distance>1:
        return 5
    elif distance<=1:
        return 10
    else:
        return 0

In [16]:
darts(3,2)

5

In [17]:
darts(0,0)

10

In [18]:
darts(0,-0.8)

10

Write a function that returns True if a year is a leap, otherwise return False.

A year is a "leap year" if it lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, creating February 29.

A leap year occurs every four years, and will take place if the year is a multiple of four. The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must be divisible by 400 to be a leap year.

Look at the examples, and if you need help, look at the resources panel.

Examples
leap_year(1990) ➞ False

leap_year(1924) ➞ True

leap_year(2021) ➞ False
Notes
Do not overthink this challenge.
You can solve the problem with a few lines of code.

In [19]:
def leap_year(x):
    if x%4==0:
        return True
    else:
        return False

In [20]:
leap_year(2016)

True

In [21]:
leap_year(1900)

True

In [22]:
leap_year(2023)

False

Given a pH value, return whether that value is "alkaline" (greater than 7), "acidic" (less than 7), or "neutral" (7). Return "invalid" if the value given is less than 0 or greater than 14.
Examples
pH_name(5) ➞ "acidic"

pH_name(8.7) ➞ "alkaline"

pH_name(7) ➞ "neutral"
Notes
Values such as 6.9999 and 8.00001 should return "acidic" and "alkaline" respectively.

In [23]:
def ph(n):
    if n>7:
        return "Alkaline"
    elif n==7:
        return "Neutral"
    elif n<7:
        return "Acidic"
    else:
        return "Invalid"

In [24]:
ph(7)

'Neutral'

In [25]:
ph(10)

'Alkaline'

In [26]:
ph(2)

'Acidic'

Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.

A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height.

Examples
hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True

hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False

hurdle_jump([5, 4, 5, 6], 10) ➞ True

hurdle_jump([1, 2, 1], 1) ➞ False
Notes
Return True for the edge case of an empty array of hurdles. (Zero hurdles means that any jump height can clear them).

In [27]:
def hurdler(jumpers_height,hurdler):
    for x in hurdler:
        if jumpers_height<x:
                return True
        else:
            return False

In [28]:
hurdler(1,[1,2,1])

False

In [29]:
hurdler(2,[2,3,1])

False

Create a function which returns the type of triangle, given the side lengths. Return the following values if they match the criteria.

No sides equal: "scalene"
Two sides equal: "isosceles"
All sides equal: "equilateral"
Less or more than 3 sides given: "not a triangle"
Examples
get_triangle_type([2, 6, 5]) ➞ "scalene"

get_triangle_type([4, 4, 7]) ➞ "isosceles"

get_triangle_type([8, 8, 8]) ➞ "equilateral"

get_triangle_type([3, 5, 5, 2]) ➞ "not a triangle"
Notes
You will be given a list of positive integers.
Check the Resources tab for more information on the types of triangles.

In [40]:
def triangles(l):
    if len(l)==3:
        if l[0]==l[1]==l[2]:
            return "Equilateral"
        elif l[0]==l[1] or l[1]==l[2] or l[2]==l[0]:
            return "Isosceles"
        else:
            return "Scalene"
    else:
        return "Not a Triangle"

In [41]:
triangles([2, 6, 5])

'Scalene'

In [42]:
triangles([4,4,7])

'Isosceles'

In [43]:
triangles([8,8,8])

'Equilateral'

In [44]:
triangles([8,8,8,9])

'Not a Triangle'

Write a function that returns True if two rooks can attack each other, and False otherwise.

Examples
can_capture(["A8", "E8"]) ➞ True

can_capture(["A1", "B2"]) ➞ False

can_capture(["H4", "H3"]) ➞ True

can_capture(["F5", "C8"]) ➞ False
Notes
Assume no blocking pieces.
Two rooks can attack each other if they share the same row (letter) or column (number).

In [45]:
def capture(l):
    if l[0][0]==l[1][0] or l[0][1]==l[1][1]:
        return True
    else:
        return False

In [46]:
capture(["A8","E8"])

True

In [47]:
capture(["A8","A3"])

True

In [48]:
capture(["A8","E3"])

False

Given an integer n. Your task is to find how many digits this integer contains without using str or len methods!

Examples
sum_digits(100) ➞ 3

sum_digits(1000) ➞ 4

sum_digits(1) ➞ 1

In [53]:
def digits(n):
    a=0
    while n>=1:
        a+=1
        n/=10
    return a

In [54]:
digits(100)

3

In [55]:
digits(1)

1

Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.

Examples
count_identical([
  [1],
  [2],
  [3],
  [4]
]) ➞ 4

#### Single-item lists still count as having identical elements.


count_identical([
  [1, 2],
  [2, 3],
  [3, 4],
  [4, 4]
]) ➞ 1


count_identical([
  [33, 33],
  [5],
  ["a", "a"],
  [2, 2, 2],
  [1, 2, 2],
  [3, 1]
]) ➞ 4

#### 4 lists with identical elements: [33, 33], [5], ["a", "a"], and [2, 2, 2]


count_identical([
  ["@", "@", "@", "@"],
  [2, 3], [3, 4], [4, 4]
]) ➞ 2
Notes
Single-element lists count as (trivially) having identical elements.

In [56]:
def count_identical(x):
    l=0
    for y in x:
        if len(y)==1:
            l+=1
        else:
            a=y[0];b=0
            for z in range(1,len(y)):
                if a==y[z]:
                    b+=1
            if b>=1:
                l+=1
    return l

In [57]:
count_identical([[33, 33],[5],["a", "a"],[2, 2, 2],[1, 2, 2],[3, 1]])

4

In [58]:
count_identical([[1],[2],[3],[4]])

4

In [59]:
count_identical([["@", "@", "@", "@"],[2, 3], [3, 4], [4, 4]])

2

Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

Number	Month Name
1	January
2	February
3	March
4	April
5	May
6	June
7	July
8	August
9	September
10	October
11	November
12	December
Examples
month_name(3) ➞ "March"

month_name(12) ➞ "December"

month_name(6) ➞ "June"
Notes
You can expect only integers ranging from 1 to 12 as test input.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [60]:
def months(x):
    month=["January","February","March","April","May","June","July","August","September","October","November","December"]
    if x<1 or x>12:
        return "Invalid Number"
    else:
        return month[x-1]

In [61]:
months(2)

'February'

In [62]:
months(1)

'January'

In [63]:
months(0)

'Invalid Number'

Create a function that takes an initial word and extracts any words that start with the same letters as the initial word.

Examples
dictionary("bu", ["button", "breakfast", "border"]) ➞ ["button"]

dictionary("tri", ["triplet", "tries", "trip", "piano", "tree"]) ➞ ["triplet", "tries", trip"]

dictionary("beau", ["pastry", "delicious", "name", "boring"]) ➞ []
Notes
If none of the words match, return an empty list.
Keep the filtered list in the same relative order as the original list of words.

In [67]:
def dic_name(a,l):
    l1=[]
    for x in l:
        if a==x[:len(a)]:
            l1.append(x)
        else:
            continue
    return l1

In [68]:
dic_name("bu", ["button", "breakfast", "border"])

['button']

In [69]:
dic_name("tri", ["triplet", "tries", "trip", "piano", "tree"])

['triplet', 'tries', 'trip']

In [70]:
dic_name("beau", ["pastry", "delicious", "name", "boring"])

[]

Create a function that takes a list of strings and returns the words that are exactly four letters.

Examples
is_four_letters(["Tomato", "Potato", "Pair"]) ➞ ["Pair"]

is_four_letters(["Kangaroo", "Bear", "Fox"]) ➞ ["Bear"]

is_four_letters(["Ryan", "Kieran", "Jason", "Matt"]) ➞ ["Ryan", "Matt"]
Notes
You can expect valid strings for all test cases.

In [71]:
def four(l):
    l1=[]
    for x in l:
        if len(x)==4:
            l1.append(x)
        else:
            continue
    return l1

In [73]:
four(["Tomato", "Potato", "Pair"])

['Pair']

In [74]:
four(["Kangaroo", "Bear", "Fox"])

['Bear']

In [76]:
four(["Ryan", "Kieran", "Jason", "Matt"])

['Ryan', 'Matt']

Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.

Examples
chinese_zodiac(2021) ➞ "Ox"

chinese_zodiac(2020) ➞ "Rat"

chinese_zodiac(1933) ➞ "Rooster"
Notes
The list of animals used can vary slightly, so check the Resources tab for the list that you will need for this challenge.

In [77]:
def chinese_zodiac(n):
    a=n-1900
    b=a%12
    c=b+1
    x={1:"Rat",2:"Ox",3:"Tiger",4:"Rabbit",5:"Dragon",6:"Snake",7:"Horse",8:"Goat",9:"Monkey",10:"Rooster",11:"Dog",12:"Pig"}
    return x[c]

In [78]:
chinese_zodiac(2021)

'Ox'

In [79]:
chinese_zodiac(2020)

'Rat'

In [80]:
chinese_zodiac(1933)

'Rooster'

Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].

Write a function that returns True if the total area of chocolate is the same for each sister.

To illustrate:

test_fairness([[4, 3], [2, 4], [1, 2]],
[[6, 2], [4, 2], [1, 1], [1, 1]])
➞ True

// Agatha's pieces: [4, 3], [2, 4], [1, 2]
// Bertha's pieces: [6, 2], [4, 2], [1, 1], [1, 1]

// Total area of Agatha's chocolate
// 4x3 + 2x4 + 1x2 = 12 + 8 + 2 = 22

// Total area of Bertha's chocolate is:
// 6x2 + 4x2 + 1x1 + 1x1 = 12 + 8 + 1 + 1 = 22
Examples
test_fairness([[1, 2], [2, 1]], [[2, 2]]) ➞ true

test_fairness([[1, 2], [2, 1]], [[2, 2], [4, 4]]) ➞ false

test_fairness([[2, 2], [2, 2], [2, 2], [2, 2]], [[4, 4]]) ➞ true

test_fairness([[1, 5], [6, 3], [1, 1]], [[7, 1], [2, 2], [1, 1]]) ➞ false

In [92]:
def chocho(a,b):
    d=0
    for x in a:
        agatha=x
        d+=agatha[0]*agatha[1]
    print("Area of Agatha:",d)
    g=0
    for y in b:
        bertha=y
        g+=bertha[0]*bertha[1]
    print("Area of Bertha:",g)
    if g==d:
        return True
    else:
        return False

In [93]:
chocho([[4, 3], [2, 4], [1, 2]], [[6, 2], [4, 2], [1, 1], [1, 1]])

Area of Agatha: 22
Area of Bertha: 22

True

The challenge is to fix all of the bugs in this incredibly messy code, which the code in the image might've actually looked like (probably not)! The code given will output the same middle two lines as in the image shown above.

First parameter is the user's score.
Second parameter is the required score.
Examples
grade_percentage("85%", "85%") ➞ "You PASSED the Exam"

grade_percentage("99%", "85%") ➞ "You PASSED the Exam"

grade_percentage("65%", "90%") ➞ "You FAILED the Exam"
Notes
Note that inputs will be given as a string percentage number.
Maintain all capitalization.
Feel free to declutter and refactor code if it helps!

In [96]:
def score(a,b):
    x=int(a[:2])
    y=int(b[:2])
    if x>=y:
        return "You PASSED the Exam"
    else:
        return  "You FAILED the Exam"

In [97]:
score("99%","85%")

'You PASSED the Exam'

In [98]:
score("85%","85%")

'You PASSED the Exam'

In [99]:
score("65%","95%")

'You FAILED the Exam'

## Control Flow

A vehicle needs 10 times the amount of fuel than the distance it travels. However, it must always carry a minimum of 100 fuel before setting off.

Create a function which calculates the amount of fuel it needs, given the distance.

Examples
calculate_fuel(15) ➞ 150

calculate_fuel(23.5) ➞ 235

calculate_fuel(3) ➞ 100
Notes
Distance will be a number greater than zero.
Return 100 if the calculated fuel turns out to be less than 100.

In [10]:
def fuel(d):
    if d>0:
        a=d*10
    else:
        return "Distance is less than 0 or equal to 0"
    if a<100:
        return 100
    else:
        return a

In [11]:
fuel(15)

150

In [12]:
fuel(23.5)

235.0

In [13]:
fuel(3)

100

In [14]:
fuel(0)

'Distance is less than 0 or equal to 0'

Create a function that takes a list (slot machine outcome) and returns True if all elements in the list are identical, and False otherwise. The list will contain 4 elements.

Examples
test_jackpot(["@", "@", "@", "@"]) ➞ True

test_jackpot(["abc", "abc", "abc", "abc"]) ➞ True

test_jackpot(["SS", "SS", "SS", "SS"]) ➞ True

test_jackpot(["&&", "&", "&&&", "&&&&"]) ➞ False

test_jackpot(["SS", "SS", "SS", "Ss"]) ➞ False
Notes
The elements must be exactly identical for there to be a jackpot.

In [28]:
def jackpot(l):
    a=l[0];b=0
    for x in range(len(l)):
        if l[x]==a:
            b+=1
        else:
            b=0
    if b==0:
        return False
    else:
        return True

In [29]:
jackpot(["@","@","@","@"])

True

In [30]:
jackpot(["abc", "abc", "abc", "abc"])

True

In [31]:
jackpot(["&&","&","&&&","&&&&"])

False

In [32]:
jackpot(["SS", "SS", "SS", "Ss"])

False

Create a function that takes a number as its argument and returns a list of all its factors.

Examples
factorize(12) ➞ [1, 2, 3, 4, 6, 12]

factorize(4) ➞ [1, 2, 4]

factorize(17) ➞ [1, 17]
Notes
The input integer will be positive.
A factor is a number that evenly divides into another number without leaving a remainder. 


The second example is a factor of 12, because 12 / 2 = 6, with remainder 0.

In [17]:
def factorize(n):
    l=[]
    for x in range(1,n+1):
        if n%x==0:
            a=n//x
            l.append(a)
        else:
            continue
        l.sort()
    return l

In [18]:
 factorize(12)

[1, 2, 3, 4, 6, 12]

In [19]:
 factorize(4)

[1, 2, 4]

In [20]:
 factorize(17)

[1, 17]

Create a function that goes through the array, incrementing (+1) for each odd-valued number and decrementing (-1) for each even-valued number.

Examples
transform([1, 2, 3, 4, 5]) ➞ [2, 1, 4, 3, 6]

transform([3, 3, 4, 3]) ➞ [4, 4, 3, 4]

transform([2, 2, 0, 8, 10]) ➞ [1, 1, -1, 7, 9]

In [22]:
def incre_decri(l):
    l1=[]
    for x in l:
        if x%2==0:
            l1.append(x-1)
        else:
            l1.append(x+1)
    return l1

In [25]:
incre_decri([1, 2, 3, 4, 5])

[2, 1, 4, 3, 6]

In [26]:
incre_decri([3, 3, 4, 3])

[4, 4, 3, 4]

In [27]:
incre_decri([2, 2, 0, 8, 10])

[1, 1, -1, 7, 9]